#background-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 1300px;
  width: 1022px;
  background-image: url('Larger.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#terminal {
  position: relative;
  top: 168px; /* Adjust as needed */
  left: 221px; /* Adjust as needed */
  width: 855px; /* Adjust as needed */
  height: 587px; /* Adjust as needed */
}

#text-output {
  font-family: monospace;
  white-space: pre;
  color: lime;
  padding: 10px;
  height: calc(100% - 40px); /* Adjust as needed, 40px is for input field and margins */
  width: 100%;
  position: absolute;
  overflow: auto;
  background: transparent;
}

#input {
  position: absolute;
  width: 80%;  /* Adjust this value to change the width of the input field */
  color: lime;
  background-color: black;
  bottom: 0;  /* Adjust as needed */
  left: 0;   /* Adjust as needed */
  border: 1px solid lime; /* this changes the border color */
}

#submit {
  position: absolute;
  color: lime;
  background-color: black;
  bottom: 0;  /* Adjust as needed */
  left: 85%;  /* Position to the right of the input field */
  border: 1px solid lime; /* this changes the border color */
}

#text-output::-webkit-scrollbar {
  width: 2px;
}

#text-output::-webkit-scrollbar-track {
  background: #333;
}

#text-output::-webkit-scrollbar-thumb {
  background: repeating-linear-gradient(
    to bottom,
    lime 0,
    lime 10px,
    transparent 10px,
    transparent 20px
  );
}

#text-output::-webkit-scrollbar-thumb:hover {
  background: #555;
}
